/*Aplicamos reset*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general de body*/
body {
   /*  font-family:sans-serif;*/
    font-family: 'Merriweather Sans', sans-serif;
}

/* Estilo del header*/
/*tamaño logo abogada*/
header nav div img {
    height: 70px;
}

/*Solo agrego subrayado en web*/
@media screen and (min-width:1024px) {
    header nav div div div .color-menu:hover {
        border-bottom: 2px solid black;
        color: black;  
    }
}


/*Estilos Generales de main*/
/*Estilo h1*/
main div h1 { 
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    font-family: serif;
    margin-top: 20px;
    margin-bottom: 70px;
    text-shadow: 5px 0px 04px rgb(3, 1, 1);
}

/*Estilo h1*/
main h2 { 
    text-align: center;
    font-size: 2vw;
    padding-bottom: 20px;
    color: whitesmoke;
}

/*Estilos para portadas de Main*/
main .portada {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}



/*Pagina de INICIO*/
/* Estilo Portada pagina de Inicio */

main .portada-inicio {
    background-image: url(../img/edificios.png);
    background-size: cover;
    background-color: rgb(82, 65, 81);
    background-blend-mode: hard-light;
    margin-bottom: 15px;
}

/*Estilo boton consultar ahora*/
main .boton-consultar {
    background-color: #1078d3;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    font-family: serif;
    color: white;
    margin-top: 40px;
}

/* Estilo para el link cuando le pasamos el mouse por arriba */

main .boton-consultar:hover {
    background-color: #095496;
}

main .boton-consultar:active {
    border: 1px solid white;
}

/*Estilo menu CONTACTO*/
/*Estilo Portada Contacto*/

main .portada-contacto {
    background-image: url(../img/contactame.jpg);
    background-size: cover;
    margin-bottom:  30px;
}


/*Estilo del formulario a completar*/
main div form fieldset {
    background-image: url(../img/consulta.jpg);
    height: 70%;
    background-size: cover;
    color: whitesmoke;
}

/*Tamaño legenda dejanos tu consulta*/
main div form fieldset legend {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 35px;
    text-shadow: 5px 0px 04px rgb(3, 1, 1);
}

main div form ul {
    list-style-type: none;
}

main div form ul li {
    padding: 15px;
    padding-right: 40px;
    text-align: right;
}

main div form ul li input {
    width: 18rem;
}

main div form ul .botones-formulario {
   display: flex;
   gap: 1rem;
   justify-content: end;
   margin-right: 2.5rem;
   padding-bottom: 10px;
}

/*Tamaño caja para deje su mensaje*/
main div form ul li #msg { 
    width: 18rem;
    height: 10rem;
}

/*Estilo menu Servicios para tablets*/
@media screen and (min-width:1024px){
    main div form ul li input {
        width: 23rem;
    }

    main div form ul li #msg { 
        width: 23rem;
        height: 10rem;
    }
}



/*Estilo Menu de servicios*/
/*Estilo menu Servicios para celulares*/
main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-servicios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem; /*Separacion entre columnas y filas*/
    margin: 1rem 3rem 3rem 3rem;
}


main div div div div div .estilo-lista {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main div div div div div ul .titulo-comercial {
    margin-top: 10px;
    list-style-type: none;
    font-weight: bold;
}

/*Estilo menu Servicios para tablets*/
@media screen and (min-width:600px){
    .contenedor-servicios { 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 0.33fr);
    }
}

/*Estilo menu Servicios para web*/
@media screen and (min-width:1024px){
    .contenedor-servicios { 
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 0.5fr);
     }
  }


/*Estilo menu Sobre mi*/
/* Estilo foto y texto de Sobre-mi */

main img {
    height: 100vw;
}
 /*alineo el texto */
main .presentacion-texto {
    text-align: center;
    padding: 30px;
    padding-bottom: 0px;
}

 /*Estilo Nombre Abogada en Sobre-mi*/
main div h5 {
    font-size: 30px;
    padding-bottom: 15px;
 }

 /*Estilo descripcion Abogada en Sobre-mi*/
main div p {
     font-size: 18px;
     padding-bottom: 15px;
}

/*Estilo para tablets sobre mi*/
@media screen and (min-width:600px) {
    .presentacion-foto{
        display: flex;
        height: auto;
    }

    main img {
        height: 50vw;
    }

    main .presentacion-texto {
        padding: 70px;
        padding-bottom: 0px;
    }
}

/*Estilo para web sobre mi*/
@media screen and (min-width:1024px) {

    main img {
        height: 40vw;
    }

    main .presentacion-texto {
        padding-left: 120px;
        padding-bottom: 120px;
        padding-bottom: 0px;
        padding-top: 100px;
        
    }

    /*Estilo Nombre Abogada en Sobre-mi*/
    main div h5 {
        font-size: 40px;
    }

    /*Estilo descripcion Abogada en Sobre-mi*/
    main div p {
        font-size: 25px;
}

}


/*Estilo Menu Preguntas frecuentes*/
/*Estilo Main titulo Preguntas frecuentes*/
.preguntas-frecuentes {
    background-color: rgba(228, 214, 177, 0.068);
}

main .preguntas-titulo {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 30px;
}

main .container-preguntas { 
    height: auto;
    text-align: center;
}    

/*Estilo texto Preguntas Frecuentes*/
main div div h3 {
    color: black;
    text-align: start;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

 /*Estilo Parrafos Preguntas Frecuentes*/
 main div div p {
     text-align: start;
     margin-bottom: 15px;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 0px;
     font-size: 15px;
 }

/*Estilo preguntas frecuentes para web*/
@media screen and (min-width:1024px){
    main .preguntas-titulo {
        font-size: 40px;
    }

    main .container-preguntas { 
        display: grid;
        grid-template-columns: repeat(2,50%);
    }    
}


/* Estilo de footer */
/*Estilo general de footer*/
.contenedor-footer {
    background: linear-gradient(rgb(192, 172, 214),rgba(86, 16, 165, 0.774));
    text-align: center;
}

.contenedor-footer-dos {
    background-color: rgb(192, 172, 214);
    text-align: center;
    margin-top: 20px;
}

/*separacion de direcciones en footer de telefono/email*/
footer div .contenedor-direcciones {
    margin-bottom: 10px;
}

footer .social {
    display: flex;
    height: 25px;
    gap: 10px;
    justify-content: center;
}
/*Caja con datos de contacto*/
footer .caja-1 {
    font-size: 70%;
    padding: 10px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer div h6 {
    font-size: 150%;
}

/*Estilo de los p de datos de contacto*/
footer div p {
    margin-bottom: 0px;
}

footer div p span {
    font-weight: bold;
}

footer div div img:hover {
    background-color: white;
    border-radius: 100%;
   }
   
 /*caja de copyright y volver arriba*/
footer .caja-3 {
     text-align: center;
     grid-column: 1/4;
    }

    /*Estilo etiqueta copyright*/
footer h4 {
     background-color: rgb(36, 8, 71);
     font-size: 10px;
     color: rgba(255, 255, 255, 0.651);
     padding: 7px;
     margin-bottom: 0px;
    }
 
    /*Estilo boton volver arriba*/
footer div a {
     color: rgba(7, 0, 0, 0.623);
     text-decoration: none;
     font-size: 12px;
    }

/*Estilos desde tablet en adelante*/ 
@media screen and (min-width:600px){

    .contenedor-footer { 
        display: grid;
        text-align: start;
        grid-template-columns: 70% 30%;
    }

    .contenedor-footer-dos {
        display: grid;
        text-align: start;
        grid-template-columns: 70% 30%;
    }

    footer .caja-1 {
        font-size: 80%;
        margin-left: 3rem;
        margin-top: 10px;
        padding: 0px;
    }

    
     /*caja de redes sociales desde tablet*/
    footer .social {
        display: flex;
        height: 40px;
        gap: 10px;
        justify-content: end;
        margin-right: 1rem;
        margin-top: 95px;
    }
}




