//variables
@import "../utilidades/variables";
//mixin
@import "../utilidades/mixin";

/*Estilos de home*/
/*Estilo de portada del home*/

main {
    .portada-inicio {
        @include portadas;
        background-image: url(../img/edificios.png);
        background-size: cover;
        background-color: $color-fotos;
        background-blend-mode: hard-light;
        margin-bottom: 15px;
    }

    div {
        div {
            //estilo titulos portadas
            .titulo-portada {
                text-align: center;
                font-size: 50px;
                color: whitesmoke;
                font-family: serif;
                margin-top: 20px;
                margin-bottom: 70px;
                text-shadow: 5px 0px 04px rgb(3, 1, 1);
            }
            //Estilo boton consultar
            .boton-consultar {
                background-color: #1078d3;
                border: 0;
                border-radius: 10px;
                padding: 15px;
                text-decoration: none;
                font-family: 'Times New Roman', Times, serif;
                color: white;
            }

            //Estilo para el boton cuando pasamos por arriba
            .boton-comsultar:hover {
                background-color: #095496;
            }

            //Estilo cuando clickeamos el boton
            .boton-consultar:active {
                border: 1px solid white;
            }
        }
    }
}
        
        
       



