//Extend para titulos
@import "../utilidades/mixin";
//variables
@import "../utilidades/variables";

/*Estilo menu preguntas frecuentes*/

.preguntas-frecuentes {
    background-color: rgba(228, 214, 177, 0.096);
}

main {
    .preguntas-titulo {
       @include titulos;
    }
    .container-preguntas {
        height: auto;
        text-align: center;
    }
    //Estilo texto preguntas frecuentes
    div {
        div {
            .preguntas {
                color: black;
                text-align: start;
                padding-left: 40px;
                padding-right: 40px;
                font-size: 20px;
            }
            p {
                text-align: start;
                margin-bottom: 50px;
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 0px;
                font-size: 15px;  
            } 
        }
    }
}

/*Estilo preguntas frecuentes para web*/
@media screen and (min-width:1024px){
    main {
        .container-preguntas{
            display: grid;
            grid-template-columns: repeat(2,50%);
        }

        .preguntas-titulo {
            font-size: $titulo-web;            
        }
    }
}