//mixin para titulos
@import "../utilidades/mixin";
//variables
@import "../utilidades/variables";

/*Estilo solapa Mis servicios*/
//Estilo menu servicios para celulares
main {
    div {
        div {
            div {
                div {
                    div {
                        .estilo-lista {
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }

                        ul {
                            .titulo-comercial {
                                margin-top: 10px;
                                list-style-type: none;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .titulo-servicios {
        @include titulos;
    }

    .contenedor-servicios {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        /*Separacion entre columnas y filas*/
        margin: 1rem 3rem 3rem 3rem;
    }

}

//Estilo menu Servicios para tablets

@media screen and (min-width:600px) {
    main {
        .contenedor-servicios {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 0.33fr);
        }
    }
}

//Estilo menu Servicios para web
@media screen and (min-width:1024px) {
    main {
        .titulo-servicios {
            font-size: $titulo-web;
        }
        .contenedor-servicios {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 0.5fr);
        }
    }
}