//Nos sirve para poder copiar y pegar codigo 

//mixin sin parametros

@mixin portadas {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

@mixin titulos {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 30px;
    padding-top: 30px;
}